@charset "UTF-8";

    h1 {
	margin-top: 3em;
	margin-left: 7em;
	color: gold;
	font-family: 'Cinzel', serif;

	
	}

    h3 {
	text-align: left;
	color: gold;
	font-size: 25px;
	font-family:'Cinzel', serif;
    }

    #div {
	position: absolute;
	top: 105px;
	left: 1000px;
	width: 300px;
	border-top: thin solid gold;
	border-left:thin solid gold;
	border-bottom:thin solid gold;
	padding-bottom: 150px;
	padding-left: 25px;
	padding-right: 120px;
	background-Color: #0B6121;
	position: fixed;
	color: white;
    }

    #fieldset {
	border: 1px solid gold;
	background-Color: #0B6121;
	border-radius: 5px;
	color: white;
	font-family:'Halant', serif;
	margin-top: 5em;
	margin-left: 10em;
	width: 700px;
	
    }

    legend {
	font-size: 1.25em;
	font-weight: bold;
	font-family:'Halant', serif;
    }


    #mustSelect {
	position: absolute;
	top: 600px;
	left: 1150px;
	width: 150px;
	height: 35px;
	background-Color: white;
	padding-left: 0px;
	color: black;
	position: fixed;
    }

    
    label::after {
	content: "";
	display: block;
    }

    
    
    button {
    background-color:white;
    color: black;
    border-radius: 20px;
    height: 1.5em;
	position: absolute;
	top: 555px;
	left: 1190px;
	position: fixed;
	display: inline-block;
    border-radius: 4px;
    border: none;
    color: black;
    text-align: center;
    font-size: 20px;
    transition: all 0.5s;
    cursor: pointer;
    }
    
    