@charset "UTF-8";

      #Stack{
      font-size: 20px;
      color: white;
	  border: 2px solid black;
	  border-radius: 25px;
      textAlign: center;
      position: absolute;
      background-color: #6E6E6E;
      width: 10%;
      height: 30%;
      left: 35.5%;
      top: 5%;
	  }
	         
	  #Cardtray{
	  font-size: 20px;
	  border: dotted grey;
	  border-radius: 25px;
      textAlign: center;
      position: absolute;
      background-color: #E6E6E6;
      width: 10%;
      height: 30%;
      left: 50.5%;
      top: 5%;
	  }
	  
	  p{
	  margin-top: 5.5em;
	  margin-left: 2.25em;
	  }
	  
	  body{
	  background-color: #cdaa7d;
	  }
	  
	  